/* site.css */

body {
	font-family: "Oswald", sans-serif;
}

.top-bar {
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
}

#middle {
	display: table;
	padding-top: 60px;
}

.page-centered {
	position: relative;
	width: 70%;
	margin: 0 auto;
}

.top-bar h1,
.top-bar img {
	position: absolute;
}

.top-bar h1 {
	top: -9px;
	font-size: 30px;
	left: 50px;
}

.top-bar img {
	position: absolute;
	height: 37px;
	left: 0;
	top: 12px;
}

.top-bar rect {
	stroke: #fff;
}

h2 {
	font-size: 20px;
}

input {
	vertical-align: middle;
}

header,
h1 > link {
	background-color: orange;
	font-family: "Oswald", sans-serif;
	font-size: 30px;
	color: white;
	width: 1100px;
	height: 60px;
	position: fixed;
}

#reset-button {
	position: absolute;
	top: 10px;
	right: 0;
	border: 1px solid #fff;
	height: 35px;
	width: 100px;
	color: white;
	background-color: rgb(216, 140, 0);
	cursor: pointer;
	font-size: 18px;
}

#reset-button:hover {
	background-color: orange;
}

section {
	font-weight: 400px;
}

footer {
	background-color: lightgray;
	padding: 15px;
	font-family: "Oswald", sans-serif;
	font-weight: 200px;
	text-align: center;
}

.usualitems {
	border: transparent 1px;
	width: 350px;
	display: inline-block;
}

ul {
	padding: 0px;
	margin: 5px;
}

#addItem {
	overflow-y: auto;
	width: 350px;
}

#addItem option,
#cblist {
	padding-left: 15px;
	list-style-type: none;
	list-style-position: inherit;
	color: darkslategray;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

ul {
	list-style-type: none;
}

.transparent-border {
	float: left;
	width: 53%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-right: solid darkgray 2px;
}

#list-prep {
	padding-left: 10px;
	font-size: 24px;
	display: inline-block;
}

#list-prep input[type=text] {
	width: 250px;
	height: 50px;
	font-size: 24px;
}

#list-prep input[type=button] {
	height: 56px;
	font-size: 24px;
}

#push2list {
	display: inline-block;
	vertical-align: top;
}

.containerfield {
	margin: 0;
}

#grocery-list {
	padding-left: 10px;
	float: right;
	width: 43%;
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
}

/* styling for checkboxes not working  :/

.section input[type="checkbox"]{
  display: none;
}

.container label {
  position: relative;
}

span::before,
span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

span.checkbox::before {
  width: 27px;
  height: 27px;
  background-color: #fff;
  left: -35px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color .2s;
}
span.checkbox:hover::before {
  border: 3px solid #F0FF76;
}
span.checkbox::after {
  content: '\f00c';
  left: -31px;
  top: 2px;
  color: transparent;
  transition: color .2s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: #62AFFF;
}

*/
